@font-face {
  font-family: 'Helvetica';
    src: url('../fonts/FreeSansBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FreeSansBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/FreeSansBold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/FreeSansBold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/FreeSansBold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/FreeSansBold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 600;
    font-style: bold;
}

.links {
    display: flex;
    align-content: center;
    justify-content: center;

    gap: 10%;
    padding: 10px 0px 10px 0px;

    background-color: black;

    margin: -8px -8px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

button {
  background-color: black;
  color: white;
  padding: 10px 10px;
  text-align: center;

  font-family: 'Helvetica';
  font-weight: 600;
  font-style: bold;
  text-decoration: none;
  font-size: 20px;

  margin: 4px 2px;
  border: none;
  transition: 0.3s;
}

button:hover {
  border: none;
  color: black;
  background-color: white;
  font-family: 'Helvetica';

  border-radius: 8px;

  text-align: center;
  text-decoration: none;

  font-size: 20px;
}

.title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 80px;

  font-size: 40px;
  font-family: 'Helvetica';
}

body {
  animation: fade-in;
  animation-duration: 1.25s;
}

@keyframes fade-in {
  from {opacity: 0; margin-top: 150px;}
  to {opacity: 1; margin-top: 8px;}
}


.gallery-row1 {
    display: flex;
    justify-content: center;
    gap: 3%;

    font-family: 'Helvetica';
}

.photo1 {
    background-image: url('../imgs/photography/fh.jpg');
    background-size: 350px;

    width: 300px;
    height: 200px;

    border: solid 2px;
    border-radius: 10px;
}

.photo2 {
    background-image: url('../imgs/photography/flower.jpg');
    background-size: 350px;

    width: 300px;
    height: 200px;

    border: solid 2px;
    border-radius: 10px;
}

.photo3 {
    background-image: url('../imgs/photography/mural.jpg');
    background-size: 350px;

    width: 300px;
    height: 200px;

    border: solid 2px;
    border-radius: 10px;
}

.photo4 {
    background-image: url('../imgs/photography/oldCar.jpg');
    background-size: 350px;

    width: 300px;
    height: 200px;

    border: solid 2px;
    border-radius: 10px;
}

.gallery-row2 {
    display: flex;
    justify-content: center;
    gap: 3%;

    margin-top: 40px;

    font-family: 'Helvetica';
}

.photo5 {
    background-image: url('../imgs/photography/swap.jpg');
    background-size: 350px;

    width: 300px;
    height: 200px;

    border: solid 2px;
    border-radius: 10px;
}

.photo6 {
    background-image: url('../imgs/photography/me.jpg');
    background-size: 350px;

    width: 300px;
    height: 200px;

    border: solid 2px;
    border-radius: 10px;
}

.photo7 {
    background-image: url('../imgs/photography/MetroNorth.jpg');
    background-size: 350px;

    width: 300px;
    height: 200px;

    border: solid 2px;
    border-radius: 10px;
}

.photo8 {
    background-image: url('../imgs/photography/sunset.jpg');
    background-size: 350px;

    width: 300px;
    height: 200px;

    border: solid 2px;
    border-radius: 10px;
}

.gallery-row3 {
    display: flex;
    justify-content: center;
    gap: 3%;

    margin-top: 40px;

    font-family: 'Helvetica';
}

.photo9 {
    background-image: url('../imgs/photography/samantha.jpg');
    background-size: 275px;

    width: 260px;
    height: 400px;

    border: solid 2px;
    border-radius: 10px;
}

.photo10 {
    background-image: url('../imgs/photography/soho.jpg');
    background-size: 330px;

    width: 260px;
    height: 400px;

    border: solid 2px;
    border-radius: 10px;
}

.frame {
  display: flex;
  justify-content: center;
}
