@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Space+Mono&display=swap');

@font-face {
  font-family: 'Helvetica';
    src: url('../fonts/FreeSansBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FreeSansBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/FreeSansBold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/FreeSansBold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/FreeSansBold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/FreeSansBold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 600;
    font-style: bold;
}

body {
  background-color: #000000;
  color: #ffffff;
}

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover {
  color: #00A0C6;
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: black;
  color: white;
  padding: 10px 10px;
  text-align: center;

  font-family: 'Helvetica';
  font-weight: 600;
  font-style: bold;
  text-decoration: none;
  font-size: 20px;

  margin: 4px 2px;
  border: none;
  transition: 0.3s;
}

button:hover {
  border: none;
  color: black;
  background-color: white;
  padding: 15px 15px;
  border-radius: 8px;

  text-align: center;
  text-decoration: none;

  margin: 4px 2px;
  font-size: 25px;
}

.main {
  margin: 55px 10px 10px 40px;
}

.top-text {
  font-family: 'Helvetica';
  font-weight: 600;
  font-style: bold;
  font-size: 25px;

  margin: 0px;

  animation: start, fade-in;
  animation-delay: 0s, 0.50s;
  animation-duration: 0.50s, 2.25s;
}

.top-text .first {
  margin-bottom: 10px;
}

.top-text .second {
  margin-top: 0px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: end;

  position: absolute;
  bottom: 45px;
  right: 40px;

  animation: start, fade-in;
  animation-delay: 0s, 0.50s;
  animation-duration: 0.50s, 1.75s;
}

#card-button {
  position: absolute;
  bottom: 45px;
  left: 35px;

  animation: start, fade-in;
  animation-delay: 0s, 0.50s;
  animation-duration: 0.50s, 1.75s;
}

.card {

  z-index: 1;

  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.card-child {
  background-color: red;
  width: 40%;
  height: 50vh;
}
@keyframes start {
  from {opacity: 0;}
  to {opacity: 0;}
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.bracket1 {
  border: 10px solid #ffffff;
  height: 110px;
  width: 110px;

  position: absolute;
  top: 25px;
  left: 20px;

  z-index: -2;
}

.bracket1-right {
  background-color: black;
  height: 120px;
  width: 10px;

  position: absolute;
  top: 35px;
  left: 140px;

  z-index: -1;
}

.bracket1-bottom {
  background-color: black;
  height: 10px;
  width: 120px;

  position: absolute;
  top: 145px;
  left: 30px;

  z-index: -1;
}

.bracket2 {
  border: 10px solid #ffffff;
  height: 110px;
  width: 110px;

  position: absolute;
  bottom: 25px;
  right: 20px;

  z-index: -2;
}

.bracket2-top {
  background-color: black;
  height: 120px;
  width: 10px;

  position: absolute;
  bottom: 25px;
  right: 140px;

  z-index: -1;
}

.bracket2-left {
  background-color: black;
  height: 10px;
  width: 120px;

  position: absolute;
  bottom: 145px;
  right: 30px;

  z-index: -1;
}

.bracket-top {
  position: absolute;

  animation: slide-in-top;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.bracket-bottom {
  position: absolute;

  animation: slide-in-bottom;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes slide-in-top {
  from {top: 0px; left: -200px;}
  to {top: 0px; left: 0px;}
}

@keyframes slide-in-bottom {
  from {bottom: 0px; right: -200px;}
  to {bottom: 0px; right: 0px;}
}

@keyframes exit {
  from {};
  to {}
}
